p {
	color:chocolate;
	background:Chartreuse;
	font-weight:bold;
	font-family:Arial, sans-serif;
    text-align:center;
	font-size:43px;
	text-shadow:4px 4px black;
}
	ul {
		font-family:Snell Roundhand, cursive;